<ng-sidebar-container>
  <ng-sidebar [opened]="opened">
    <label class="butonel">
      <button (click)="toggleSidebar()" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-times"></i></button>
    </label>
    <ul class="menu">
      <li><a routerLink="/" (click)="toggleSidebar()">Home</a></li>
      <li><a routerLink="/register-client" (click)="toggleSidebar()">Register</a></li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <label class="butonel1">
      <button (click)="toggleSidebar()" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars"></i></button>
    </label>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>


