.form-group {
  position: relative;
  padding: 40px 0 0;
  margin-top: 20px;
  width: 100%;
}

.form-control {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: green;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form-control::placeholder {
  color: #8FBC8F;
}
.form-control:placeholder-shown ~ .form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form-control:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
}

.form-control:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form-control:required, .form-control:invalid {
  box-shadow: none;
}
.btn-cool-blues {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, mediumaquamarine, mediumaquamarine);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, mediumaquamarine, mediumaquamarine); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}
.btn-rounded {
  border-radius: 35px;
}
h2 {
  font-size: 30px;
  color: mediumaquamarine;
}
.form-style-5 {
  position: fixed;
  left:525px;
  max-width: 410px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
}
hr {
  background: url('http://i.stack.imgur.com/37Aip.png%27') no-repeat top center;
  background-size: contain;
  display: block;
  height: 25px;
  border: 0;
  position: relative;
  }
  hr:before,
  hr:after {
  content: '';
  display: block;
  position: absolute;
  background: #d7d7d7;
  height: 2px;
  top: 8px;
  }
  hr:before {
  left: 0;
  right: 50%;
  margin-right: 10px;
  }
  hr:after {
  right: 0;
  left: 50%;
  margin-left: 10px;
  }
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

